SECRET_KEY=
ENV_TYPE=

ENGINE=
DBNAME=
DBUSER=
DBPASSWORD=
DBHOST=
DBPORT=

REDIS_HOST=
REDIS_PORT=

RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=

DEFAULT_CACHE_DATABASE=
DEFAULT_CACHE_TTL=

OTP_CACHE_TTL=
OTP_CACHE_DATABASE=

SUPERUSER=
SUPERPASS=
