SECRET_KEY=
ENV_TYPE=


REDIS_HOST=
REDIS_PORT=

RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USER=
RABBITMQ_PASSWORD=

DEFAULT_CACHE_DATABASE=
DEFAULT_CACHE_TTL=

OTP_CACHE_TTL=
OTP_CACHE_DATABASE=


OTP_TTL_SECONDS=
OTP_MAX_ATTEMPTS=
OTP_REQUEST_LIMIT=
OTP_REQUEST_WINDOW_SECONDS=
OTP_BLOCK_SECONDS=
